<footer class="dark blue-gradient">
	<div class="content" style="height: 100%">
		<div class="flex flex-wrap" style="height: 100%">
			<div class="f5 white mt2 flex w-100">
				<p class="mb1 self-end w-100 tc">Copyright © {{ now.Year }} Log JSON.</p>
			</div>
		</div>
	</div>
</footer>