<div style="height: 80px;"></div>
<footer>
	<div class="content mauto" style="height: 100%">
		<div class="flex flex-wrap" style="height: 100%">
			<div class="f3 white flex w-100">
				<small class="self-end w-100 tc">Made with ❤<br> Copyright © 2020-{{ now.Year }} Flow State.</small>
			</div>
		</div>
	</div>
</footer>