<header>
	<div class="content">
		<div class="flex flex-column flex-row-ns justify-between-ns items-center">
			<div class="">
				{{ partial "logo.gohtml" . }}
			</div>
			<div class="mt3 mt0-ns">
				{{ partial "menu.gohtml" . }}
			</div>
		</div>
	</div>
</header>