<h1 class="logo b tc">
	<a title="Home" href="/">
	    <span class="blue-dark">{</span>
		<img alt="JSON logs" src="/images/logo-icon.png" width="64" height="64" />
		<span class="yellow">Log</span>
		<span class="blue-dark">JSON }</span>
	</a>
</h1>