<!DOCTYPE html>
<html lang="en">
	{{ partial "head.gohtml" . }}
	<body>
		<div class="page">
			{{ partial "header.gohtml" . }}
			<main>
				<h2 class="f2 tc mt4 mb3">
					{{ .Params.subtitle }}
				</h2>
				<section>
					<div class="content">
						<div class="flex flex-wrap flex-nowrap-ns">
							{{ partial "blurb.gohtml" (dict "blurb" .Params.blurbs.secure) }}
							{{ partial "blurb.gohtml" (dict "class" "ml3-ns" "blurb" .Params.blurbs.performance) }}
						</div>
					</div>
				</section>
				<section class="dark blue-gradient mb3">
					<div class="content">
						<div>
							{{ partial "blurb.gohtml" (dict "class" "mt3 mauto" "blurb" .Params.blurbs.simple) }}
						</div>
					</div>
				</section>
				<!--
				<section style="height:600px">
						<div class="content">
							Add examples here in a carousel.
						</div>
				</section>
				-->
				<section>
					<div class="content">
						<div class="flex flex-wrap flex-nowrap-ns">
							{{ partial "blurb.gohtml" (dict "blurb" .Params.blurbs.injection) }}
							{{ partial "blurb.gohtml" (dict "class" "ml3-ns" "blurb" .Params.blurbs.audit) }}
						</div>
					</div>
				</section>
				{{ partial "signup.gohtml" . }}
			</main>
			{{ partial "footer.gohtml" . }}
		</div>
	</body>
</html>
