<!DOCTYPE html>
<html lang="en">
	{{ partial "head.gohtml" . }}
	<body>
		<div class="page">
			{{ partial "header.gohtml" . }}
			<main>
				<section class="principal grey-section">
					<div class="content mauto mb5">
						<h2 class="mv5">
							{{ .Params.subtitle }}
						</h2>
						<div class="w-80-ns mauto mb5">
							{{ with .Params.principal }}
							<h3>
								{{ .title }}
							</h3>
							<p>{{ .content | markdownify }}</p>
							{{ end }}
						</div>
					</div>
				</section>
				<section>
					<div class="content mauto">
						<div class="flex flex-wrap flex-nowrap-ns">
							<div class="icon-box security w-100 w-50-ns mt5">
								{{ partial "blurb.gohtml" (dict "blurb" .Params.blurbs.simple) }}
							</div>
							<div class="icon-box performance w-100 w-50-ns ml4-ns mt5">
								{{ partial "blurb.gohtml" (dict "blurb" .Params.blurbs.dashboards) }}
							</div>
						</div>
					</div>
				</section>
				<section class="full-width mv5 tc">
					{{with .Params.callout}}
					<h2 class="mb3">{{ .title }}</h2>
					<div class="content mauto">
						<div class="blurb w-80-ns mauto">
							<p>{{ .content | markdownify }}</p>
						</div>
					</div>
					{{end}}
				</section>
				{{ partial "signup.gohtml" . }}
				<section>
					<div class="content mauto">
						<div class="flex flex-wrap flex-nowrap-ns">
							<div class="icon-box graphql w-100 w-50-ns mt5">
								{{ partial "blurb.gohtml" (dict "blurb" .Params.blurbs.custom) }}
							</div>
							<div class="icon-box github w-100 w-50-ns mt5">
								{{ partial "blurb.gohtml" (dict "class" "ml3-ns" "blurb" .Params.blurbs.alerts) }}
							</div>
						</div>
					</div>
				</section>
				<section class="full-width mt5">
					<div class="content code-example mauto">
						{{ .Content }}
					</div>
				</section>
				{{ partial "signup.gohtml" . }}
			</main>
			{{ partial "footer.gohtml" . }}
		</div>
	</body>
</html>
